.card {
    background-color: #1a1a2e;
    max-width: 24rem;
    padding: 1.5rem;
    border: 1px solid #6588c5;
    border-radius: 1.5rem;
    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);  */
    transition: all 0.3s ease;
    margin: 1rem;
    
}

.card:hover{
  box-shadow: 0 0 16px rgba(255, 100, 220, 0.6);
  transform: translateY(-3px);
}

.userPic{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 100% ;
    border-color: #5586cb;
    border: 1rem;
    /* display: flex;
    align-items: center; 
    border: 1px solid #cbd5e1;
    border-radius: 100%; */
    
}

.aboutUser{
  display: flex;
  align-items: center; 
  gap: 1rem;
  margin-bottom: 1rem;
  
}

.aboutUser .userName{
  font-size: large;
  font-weight:600 ;
  color: #ffffff;
 
}

.card-img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.aboutPost {
 margin: 1rem 0 0;
 display: flex;
 justify-content: space-between;
 /* padding: 0.5rem; */
}

.aboutPost .blog-category{
  margin-right: 2rem; 
  background-color: #0f3d75;
  padding: 4px 8px;
  border-radius: 0.7rem;
  font-size:small;
  color: #ffffff;
  align-items: center
}

.aboutPost .date{
  color: #e5e7eb ;
}


.card-title {
  
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  margin: 1rem;
  
}

.card-text {
  margin-bottom: 1.5rem;
  color: #e5e7eb;
  line-height: 1.6;
  align-items: self-start;
  text-align: left;
}

.card-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  
}

.card-container {
  display: flex;

}

.read-more {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
  text-decoration: none;
  background-color:  #3B82F6; ; 
  box-shadow: 0 15px 15px -3px rgba(86, 145, 254, 0.1), 0 4px 6px -2px rgba(112, 172, 255, 0.05); 
  bottom: 0; 
  left: 0;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.read-more:hover {
  background-color: #833bf6;
  color: #ffffff;
  transition: all 1s ease;
  
}