/* Global Page Wrapper */
.page {
  min-height: 100vh;
  background-color: #0f172a; /* dark background */
  padding: 2rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

/* Blog List Section */
.blog-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Single Blog Detail Page */
.blog-detail {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.blog-detail-container {
  max-width: 850px;
  width: 100%;
  background-color: #020617;
  padding: 2.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
}

/* Back Link */
.back-link {
  background: linear-gradient(135deg, #6366f1 0%, #6b47be 100%);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9375rem;
  width: fit-content;
}

.back-link:hover {
  transform: translateX(-4px);
  box-shadow: 0 4px 10px rgba(99, 102, 241, 0.4);
  color: #ffffff;
    background: linear-gradient(-135deg, #3b82f6 0%, #2563eb 100%);
}

.back-link .arrow {
  transition: transform 0.3s ease;
}

.back-link:hover .arrow {
  transform: translateX(-4px);
}


/* Blog Title */
.blog-detail-container h1 {
  font-size: 2.25rem;
  line-height: 1.3;
  margin-bottom: 0.75rem;
  color: #f8fafc;
}

/* Blog Image */
.blog-detail-container img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
  margin-top: 1.5rem;
}

/* Blog Content */
.blog-detail-container p {
  font-size: 1rem;
  line-height: 1.75;
  color: #e5e7eb;
  margin-bottom: 1.25rem;
}

/* Blog Not Found */
h2 {
  text-align: center;
  margin-top: 4rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .blog-detail-container {
    padding: 1.75rem;
  }

  .blog-detail-container h1 {
    font-size: 1.75rem;
    margin: bottom 1.5em;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 1.5rem 0.75rem;
  }

  .blog-detail-container {
    padding: 1.5rem;
  }

  .blog-detail-container h1 {
    font-size: 1.5rem;
    margin: bottom 1.5em;
  }

  .blog-detail-container p {
    font-size: 0.95rem;
  }
}

/* About User/Blogger */
.aboutUser {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

/* .aboutUser::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #2a6cff, transparent);
} */

.aboutUser .userName {
  font-size: large;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.aboutUser .userPic {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #1c2d43;
  border-radius: 100%;
  margin: 0%;
}
