*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: var(--primary-bg);
  color: #EDEEFF;
  min-height: fit-content;
  margin-bottom: 2rem;
}

.contact-form {
  /* background-color: #1A1D2E; */
  /* font-family: monospace; */
  padding: 30px;
  padding-top: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(123, 63, 228, 0.6);
  width: 100%;
  max-width: 400px;
  /* border-bottom: 2px solid red; */
}

.contact-form h2 {
  margin-bottom: .8rem;
  color: #7B3FE4;
  text-align: left;
  font-size: 2.3rem;
  text-transform: capitalize;
}

.contact-form label {
  display: block;
  margin-bottom: 15px;
  font-size: 1.3rem;
  text-align: left;
  color:#3FA9F5 ;
  /* font-weight: 400; */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #8E93A6;
  border-radius: 6px;
  background-color: #0F1224;
  color: #EDEEFF;
  font-size: 1.25rem;
  margin-right: 20px;
  /* font-family: monospace; */
  outline: none;
  border: none;
}

.contact-form textarea {
  resize: none;
  min-height: 100px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  margin-top: 0.2rem;
  background: linear-gradient(90deg, #7B3FE4, #9D6BFF);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background 0.3s ease;
  /* font-family: monospace; */
}

.contact-form button:hover {
  background: linear-gradient(90deg, #9D6BFF, #C3A6FF);
}

/* ================= RESPONSIVE: FORM ================= */
@media (max-width: 1024px) {
  .contact-form {
    max-width: 540px;
    padding: 26px;
  }
}

@media (max-width: 768px) {
  
  .contact-container {
    /* padding: 1%; */
   
    align-items: stretch;
   
  }

  .contact-form {
    max-width: 100vw;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    /* box-shadow: none; */
  }

  .contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  
  .contact-form label {
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
  }

  .contact-form input,
  .contact-form textarea {
    min-height: 1.75rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0%;
    width: 100%;
    outline: none;
  }

  .contact-form textarea {
    min-height: 120px;
  }

  .contact-form button {
    padding: 12px;
    font-size: 1.25rem;
  }
}

@media (max-width: 420px) {
  .contact-container {
    padding: 2%;
    /* background-color: rgb(0, 255, 128); */
  }

  .contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  

  .contact-form input,
  .contact-form textarea {
    font-size: 1.2rem;
    border: none;
    border-radius: 0%;
    width: 100%;
  }

  .contact-form button {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .contact-form label {
    font-size: 1.25rem;
    margin-bottom:.8rem;
  }
}
